<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>

<%= live_render @conn, DemoWeb.ClickerLive, session: %{} %>
<%= live_render @conn, DemoWeb.ClickerLive, session: %{} %>
